.errorimg{
    width: 100%;
    text-align: center;
    img{
        width: 25%;
    }
    
}
.errorbacktologin h4 {
    color: #f03554;
    width: 16%;
    text-align: center;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 9px 0;
    margin-top: 24px;
    cursor: pointer;
}
.errorimg{
    width: 25%;
    margin: 0 auto;
}
.errorimg img {
    width: 100%;
}